@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #2d4b73; padding-top: 30px; padding-bottom: 30px;font-family: Tahoma;">
    <div class="container invert-color">
        <div style="font-size: 48px;">
            <span class="glyphicon glyphicon-leaf"></span>
            <span style="color: black;">Black Swan Accounting</span>
        </div>
        <div style="font-size: 24px;">Comprehensive personal income tax online calculator</div>
    </div>
</div>
<div class="container body-content" style="padding-bottom: 80px;">
    @RenderBody()
</div>
