<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDB" connectionString="Url=http://localhost:8080;Database=BlackSwan.Accounting.IntegrationTestsDB"/>
    <add name="SystemDB" connectionString="Url=http://localhost:8080"/>
  </connectionStrings>
</configuration>