
@{
    ViewBag.Title = "Tax Calculator";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<h1 class="page-header">@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<p class="lead">Coming soon...</p>

