@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.Title = "About";
}
<h1 class="page-header">@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<p class="lead">Use this area to provide additional information.</p>
