@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Black Swan Accounting</title>
    </head>
    <body>
        <div>
              <h1>Welcome to Black Swan Accounting</h1>
        </div>
    </body>
</html>