@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center invert-color">
    <span class="glyphicon glyphicon-leaf" style="font-size: 500%;"></span>
    <h1 style="font-family: Tahoma; color: black;">
        Black Swan Accounting
    </h1>
    <p class="text-center" style="width: 90%; font-size: 30px; margin: auto;">
        A comprehensive personal income tax online calculator that helps you to understand the complicated tax calculations
    </p>
</div>
<div class="row text-center" style="margin-bottom: 160px;">
    <a href="@Url.Action("index", "TaxCalculator")" class="btn btn-success btn-lg" style="width: 180px; padding: 10px;">Start Now</a>
</div>